@import url('https://fonts.googleapis.com/css?family=Homemade+Apple|Playfair+Display');

h1{
	text-align: center;
	font-family: 'Playfair Display', serif;
	font-weight: bold;
}


body {
  background-color: yellow;
  text-align: center;
  font-family: 'Homemade Apple', cursive;
  font-weight: bold;
  font-size: 24px;
}

hr {
	width: 400px;
}

div {
	width: 300px;
	height: 650px;
	border: 2px solid white;
	display: inline-block;
	margin: 20px;
}

nav {
	margin: 5.5px;
}