body {
  color: #fff;
  background-color: black;
  text-align: center;
  font-family: Helvetica;
  font-weight: bold;
  font-size: 24px;
}

hr {
	width: 400px;
}

div {
	width: 500px;
	height: 500px;
	border: 2px solid white;
	display: inline-block;
	margin: 20px;
}