body {
  background-color: yellow;
  text-align: center;
  font-family: Helvetica;
  font-weight: bold;
  font-size: 24px;
}

hr {
	width: 400px;
}

div {
	width: 200px;
	height: 200px;
	border: 2px solid white;
	display: inline-block;
	margin: 20px;
}

nav {
	margin: 5px;
}