body {
  text-align: center;
  font-family: Georgia;
  font-weight: bold;
  font-size: 24px;
  background-color: blue;
  
}

hr {
	color: #000000000;
	width: 400px;
}

div {
	width: 500px;
	height: 500px;
	border: 2px solid black;
	display: inline-block;
	margin: 20px;
}